.advantages__title {
  margin: 0;
  margin-bottom: 27px;

  @include oswald-regular-black(36px, 60px);
}

.advantages__list {
  @include reset-list;
}

.advantages__item-text {
  margin: 0;
  margin-bottom: 26px;
  padding-left: 80px;

  @include arial-regular-dark-gray(14px, 18px);
}
