.categories__list {
  @include reset-list;
}

.categories__item {
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 19px;

  background-color: $bg-gray;
}

.categories__item-title {
  margin: 0;
  margin-bottom: 29px;

  @include oswald-regular-black(24px, 37px);
  text-align: center;
  text-transform: uppercase;
}

.categories__item-text {
  margin: 0;
  margin-bottom: 19px;
  padding: 0 40px 22px;

  @include arial-regular-dark-gray(14px, 18px);

  border-bottom: 1px solid #d9d9d9;
}

.categories__item-link {
  padding-left: 39px;

  @include oswald-regular-black(16px, 16px);
  text-transform: uppercase;
}
