.categories__list {
  @include reset-list;
}

.categories__item {
  margin-bottom: 20px;
  padding: 30px 20px 19px;

  background-color: $bg-gray;
}

.categories__item-title {
  margin: 0;
  margin-bottom: 29px;
  margin-left: 71px;

  @include oswald-regular-black(24px, 37px);
  text-transform: uppercase;
}

.categories__item-text {
  margin: 0;
  margin-bottom: 19px;
  padding-bottom: 22px;

  @include arial-regular-dark-gray(14px, 18px);

  border-bottom: 1px solid #d9d9d9;
}

.categories__item-link {
  @include oswald-regular-black(16px, 16px);
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .categories__item {
    margin-bottom: 30px;
    padding: 76px 53px 59px;
  }

  .categories__item-title {
    width: 375px;
    margin-bottom: 25px;
    margin-left: 0;

    font-size: 36px;
    line-height: 37px;
  }

  .categories__item-text {
    width: 375px;
    margin-bottom: 34px;

    font-size: 16px;
    line-height: 24px;

    border-bottom: none;
  }

  .categories__item {
    &:nth-child(2) {
      .categories__item-text {
        width: 340px;
      }
    }
  }

  .categories__item-link {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: 1300px) {
  .categories {
    padding: 80px 0 10px;
  }

  .categories__list {
    display: flex;
    justify-content: space-between;
  }

  .categories__item {
    width: 570px;
  }

  .categories__item-title {
    margin-left: 161px;
    margin-bottom: 74px;
  }

  .categories__item-text {
    width: auto;
    margin-bottom: 9px;
  }

  .categories__item {
    &:nth-child(2) {
      .categories__item-text {
        width: auto;
      }
    }
  }
}
