.contacts__info-text {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

.contacts__info-address {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Arial', sans-serif;
  color: $dark-gray;
}
