.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
}

.copyright__link {
  margin: 0;

  @include arial-regular-dark-gray(16px, 16px);
}

@media (min-width: $tablet-width) {
  .copyright {
    display: flex;
    padding: 0;
  }

  .copyright__link {
    margin-right: 23px;
  }
}
