.extra {
  position: relative;

  padding: 10px 0 35px;

  &::before {
    @include pseudo;
    top: 42px;
    left: 50%;
    z-index: -1;

    width: 100vw;
    height: 3px;

    background-color: $green;

    transform: translateX(-50%);
  }
}

.extra__title {
  width: 267px;
  margin: 0 -20px 10px;
  padding: 18px 19px 24px;

  @include oswald-regular-black(24px, 24px);

  background-color: $white;
}

.extra__list {
  @include reset-list;
  margin-bottom: 39px;
}

.extra__gift {
  position: relative;

  padding: 187px 57px 42px 55px;

  text-align: center;

  background-color: #65a93c;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }

  &::before {
    @include pseudo;
    top: 65px;
    left: 50%;

    width: 55.5px;
    height: 60px;

    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;

    transform: translateX(-50%);
  }
}

.extra__gift-text {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Arial", "Tahoma", sans-serif;
  color: $white;
}

@media (min-width: $tablet-width) {
  .extra {
    padding-top: 0;
    padding-bottom: 76px;

    &::before {
      top: 22px;
    }
  }

  .extra__title {
    width: 413px;
    margin: -4px -2px 10px;
    padding: 0 35px 70px 39px;

    font-size: 36px;
    line-height: 36px;
  }

  .extra__list {
    margin-bottom: 70px;
  }

  .extra__gift {
    padding: 72px 115px 68px 423px;

    text-align: left;

    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }

    &::before {
      left: 91px;

      transform: translateX(0);
    }
  }
}

@media (min-width: $desktop-width) {
  .extra {
    padding-bottom: 18px;

    .container {
      display: flex;
      justify-content: space-between;
    }

    &::before {
      top: 25px;
    }
  }

  .extra__title {
    margin-left: -40px;
    padding-top: 7px;
  }

  .extra__gift {
    width: 245px;
    height: 289px;
    padding: 187px 40px 20px;

    text-align: center;

    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }

    &::before {
      left: 50%;

      transform: translateX(-50%);
    }
  }
}
