.footer__bottom {
  padding-top: 39px;

  text-align: center;

  background-color: $bg-gray;
}

.footer__logo {
  display: block;
  width: 127.8px;
  height: 23.4px;
  margin: 0 auto;
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .footer__bottom {
    padding-top: 54px;
    padding-bottom: 56px;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .footer__logo {
    margin: 0;
  }
}
