.form-contacts {
  position: relative;

  @include reset-fieldset;
  margin: 0 -20px;
  padding: 0 20px;

  &::before {
    @include pseudo;

    top: 42px;
    left: 50%;
    z-index: -1;

    width: 100vw;
    height: 3px;

    background-color: $green;

    transform: translateX(-50%);
  }
}

.form-contacts__title {
  width: 221px;
  margin-bottom: 22px;
  margin-left: -20px;
  padding: 28px 20px 12px 19px;

  @include oswald-regular-black(24px, 24px);

  background-color: $white;
}

.form-contacts__list {
  @include reset-list;
}

.form-contacts__item {
  &:nth-child(1) {
    .form-contacts__label-text {
      margin-right: 12px;
    }

    .form-contacts__field {
      width: 219px;
    }

    .form-contacts__icon {
      top: 16px;
      right: 16px;
    }
  }

  &:nth-child(2) {
    .form-contacts__label-text {
      margin-right: 10px;
    }

    .form-contacts__field {
      width: 204px;
    }

    .form-contacts__icon {
      top: 13px;
      right: 13px;
    }
  }
}

.form-contacts__wrapper {
  margin: 0;
  margin-bottom: 14px;
}

.form-contacts__label {
  position: relative;

  display: flex;
  align-items: center;

  @include oswald-regular-dark(16px, 18px);
  text-transform: uppercase;
}

.form-contacts__label-text {
  margin-left: -1px;
}

.form-contacts__field {
  flex: 1 1 auto;
  padding: 12px 45px 13px 15px;

  @include oswald-regular-dark-gray(16px, 18px);
  text-transform: uppercase;

  border: 1px solid #e6e6e6;

  &:hover {
    border-color: #cfcfcf;
  }

  &:focus {
    padding: 11px 45px 12px 14px;

    border-width: 2px;
    border-color: $dark-gray;
    outline: none;
  }

  &:invalid {
    border-color: #ff8282;
  }
}

.form-contacts__field:focus ~ .form-contacts__icon {
  fill: $green;
}

.form-contacts__field:invalid ~ .form-contacts__icon {
  fill: #ff8282;
}

.form-contacts__icon {
  position: absolute;

  fill: $dark;
}

@-moz-document url-prefix("") {
  .form-contacts {
    &::before {
      top: -68px;
    }
  }
}

@media (min-width: $tablet-width) {
  .form-contacts {
    margin: 0 -30px 20px;
    padding: 0 30px;

    &::before {
      top: 67px;
    }
  }

  .form-contacts__title {
    width: 593px;
    margin-bottom: 21px;
    margin-left: 0;
    padding: 45px 20px 55px 39px;

    font-size: 36px;
    line-height: 36px;
  }

  .form-contacts__list {
    padding-right: 35px;
    padding-left: 39px;
  }

  .form-contacts__item {
    &:nth-child(1) {
      .form-contacts__label-text {
        margin-right: 19px;
        margin-left: 2px;
      }

      .form-contacts__icon {
        top: 20px;
        right: 21px;
      }
    }

    &:nth-child(2) {
      .form-contacts__label-text {
        margin-right: 16px;
      }

      .form-contacts__icon {
        top: 17px;
        right: 18px;
      }
    }
  }

  .form-contacts__wrapper {
    margin-bottom: 20px;
  }

  .form-contacts__label-text {
    font-size: 20px;
    line-height: 20px;
  }

  .form-contacts__field {
    padding: 10px 45px 10px 20px;

    font-size: 20px;
    line-height: 20px;

    &:focus {
      padding: 9px 45px 9px 19px;
    }
  }

  @-moz-document url-prefix("") {
    .form-contacts {
      &::before {
        top: -90px;
      }
    }

    .form-contacts__title {
      margin-bottom: 22px;
    }

    .form-contacts__field {
      padding: 14px 45px 16px 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .form-contacts {
    margin: 0;
    padding: 0;
    padding-bottom: 42px;
  }

  .form-contacts__title {
    margin-left: -40px;
  }

  .form-contacts__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .form-contacts__wrapper {
    width: 571px;
    margin: 0;
  }

  @-moz-document url-prefix("") {
    .form-contacts__title {
      padding-top: 44px;
    }
  }
}
