.nav__menu {
  @include reset-list;
}

.nav__menu-link {
  display: block;
  padding: 22px 0;

  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  color: $black;

  border-bottom: 1px solid #e6e6e6;
}
