.product {
  padding: 10px 0 20px;

  border-bottom: 1px solid #ededed;
}

.product__title {
  margin: 0;
  margin-bottom: 10px;

  @include oswald-regular-black(16px, 20px);
  text-transform: uppercase;
}

.product__info {
  margin-bottom: 20px;

  @include arial-regular-dark-gray(12px, 16px);
}
