.result {
  padding: 17px 0 36px;

  background-color: $bg-gray;
}

.result__title {
  margin: 0;
  margin-bottom: 23px;

  @include oswald-regular-black(36px, 60px);
}

.result__text {
  width: 100%;
  margin: 0;
  margin-bottom: 25px;
  padding-right: 3.125%;

  @include arial-regular-dark-gray(14px, 18px);
}

.result__wrapper {
  width: 280px;
  margin: 0 auto;
}

.result__values {
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;
}

.result__value-wrapper {
  @include reset-fieldset;

  position: relative;

  width: 124px;
  padding-top: 13px;
  padding-bottom: 17px;

  text-align: center;

  border: 1px solid #cdcdcd;
  border-radius: 2px;
}

.result__value,
.result__value-title {
  display: block;
}

.result__value {
  @include oswald-regular-black(24px, 24px);
  text-transform: uppercase;
}

.result__value-title {
  position: absolute;
  bottom: -16px;
  left: 50%;

  width: 87px;
  padding: 0 5px 0;

  @include arial-regular-dark-gray(12px, 12px);

  background-color: $bg-gray;

  transform: translateX(-50%);
}

.result__cost {
  margin: 0;
  margin-bottom: 34px;

  @include oswald-regular-black(14px, 20px);
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .result {
    position: relative;

    padding: 43px 0 0;

    background-color: transparent;
  }

  .result__title {
    margin-bottom: 64px;

    font-size: 60px;
  }

  .result__text {
    margin-bottom: 53px;
    padding-right: 3.6458%;

    font-size: 16px;
    line-height: 24px;
  }

  .result__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 708px;
    margin: 0 0 228px;
  }

  .result__values {
    margin-bottom: 27px;
  }

  .result__value-wrapper {
    width: 162px;
    padding-top: 15px;
    padding-bottom: 18px;

    &:first-child {
      margin-right: 42px;
    }

    &:last-child {
      .result__value-title {
        width: 142px;
      }
    }
  }

  .result__value {
    font-size: 30px;
    line-height: 37px;
  }

  .result__value-title {
    bottom: -6px;

    width: 114px;
    padding: 0;

    font-size: 14px;
    line-height: 14px;

    background-color: $white;
  }

  .result__cost {
    width: 176px;
    padding-top: 8px;

    font-size: 20px;
    text-align: right;

    span:first-child {
      display: block;
      margin-bottom: 10px;
    }
  }
}

@media (min-width: $desktop-width) {
  .result {
    padding-top: 24px;
  }

  .result__title {
    margin-bottom: 75px;
  }

  .result__desktop-wrapper {
    position: relative;

    display: flex;
    justify-content: space-between;

    &::before {
      @include pseudo;
      bottom: 0;
      left: 50%;
      z-index: -1;

      width: 100vw;
      height: 100%;

      background-image: linear-gradient(to right, $bg-gray 51%, #eaeaea 51%);

      transform: translateX(-50%);
    }
  }

  .result__left {
    padding: 71px 0 2px 0;
  }

  .result__text {
    width: 435px;
    margin-bottom: 68px;
    padding-right: 0;
  }

  .result__wrapper {
    display: block;
    width: auto;
    margin-bottom: 0;
  }

  .result__values {
    justify-content: flex-start;
    margin-bottom: 52px;
  }

  .result__value-title {
    background-color: $bg-gray;
  }

  .result__cost {
    display: flex;
    justify-content: space-between;
    width: 328px;
  }
}
