.slider__image {
  width: 100vw;
  height: 240px;
  margin: 0 -20px 32px;

  background-image: url("../img/before-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 320px auto;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/before-mobile@2x.png");
  }
}

.slider__control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 39px 0 44px;
}

.slider__control-text {
  padding: 0;

  @include oswald-regular-black(16px, 20px);
  text-transform: uppercase;

  background-color: transparent;
  border: none;
  outline: none;
}

.slider__control-range {
  position: relative;

  width: 84px;
  height: 14px;

  background-color: $white;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
}

.slider__control-line {
  position: absolute;
  top: 3px;
  left: 5px;

  display: block;
  width: 35px;
  height: 6px;
  padding: 0;

  background-color: $green;
  border-radius: 3px;
  border: none;
}

@media (min-width: $tablet-width) {
  .slider {
    height: 462px;
    margin: 0 -30px;

    background-image: linear-gradient(to right, $bg-gray 50%, #eaeaea 50%);
  }

  .slider__image {
    position: relative;
    top: -169px;

    width: 690px;
    height: 517px;
    margin: 0 auto;

    background-image: url("../img/before-tablet@1x.png");
    background-position-x: 7px;
    background-size: 690px auto;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/before-tablet@2x.png");
    }
  }

  .slider__control {
    position: relative;
    top: -151px;

    width: 660px;
    margin: 0 auto;
    padding-right: 46px;
  }

  .slider__control-text {
    position: relative;

    font-size: 20px;

    &:hover,
    &:focus {
      &::before {
        border-bottom: 1px solid #989898;
      }
    }

    &:active {
      &::before {
        border-bottom-color: transparent;
      }
    }

    &::before {
      @include pseudo;
      bottom: -8px;
      left: 0;

      width: 100%;

      border-bottom: 1px dotted #bebebe;
    }
  }

  .slider__control-range {
    width: 428px;
    height: 6px;
    margin-top: 3px;

    background-color: #dcdcdc;
    border: 0;
  }

  .slider__control-line {
    top: -14px;
    left: 200px;

    width: 34px;
    height: 34px;

    background-color: $white;
    border: 1px solid #cfcfcf;
    border-radius: 50%;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);

    &:hover,
    &:focus {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
      outline: none;
    }

    &:active {
      border: 2px solid $green;

      &::before {
        top: 11px;
        left: 11px;
      }
    }

    &::before {
      @include pseudo;
      top: 12px;
      left: 12px;

      width: 8px;
      height: 8px;

      background-color: $green;
      border-radius: 50%;
    }
  }
}

@media (min-width: $desktop-width) {
  .slider {
    width: 630px;
    height: auto;
  }

  .slider__image {
    top: -190px;
    left: -57px;

    background-image: url("../img/before-desktop@1x.png");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/before-desktop@2x.png");
    }
  }

  .slider__control {
    left: 29px;

    width: 570px;
    margin: 0;
    padding: 0;
  }
}
