@import "fonts.scss";
@import "variables.scss";
@import "mixin.scss";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  color: $dark-gray;

  background-color: $white;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.visually-hidden {
  display: none;
}

@import "blocks/container.scss";
@import "blocks/header.scss";
@import "blocks/button.scss";
@import "blocks/nav.scss";
@import "blocks/promo.scss";
@import "blocks/categories.scss";
@import "blocks/advantages.scss";
@import "blocks/result.scss";
@import "blocks/contacts.scss";
@import "blocks/contacts-info.scss";
@import "blocks/copyright.scss";
@import "blocks/catalog-page.scss";
@import "blocks/catalog.scss";
@import "blocks/product.scss";
@import "blocks/add-more.scss";
@import "blocks/extra.scss";
@import "blocks/extra-product.scss";
@import "blocks/blank.scss";
@import "blocks/form.scss";
@import "blocks/form-info.scss";
@import "blocks/form-goal.scss";
@import "blocks/form-contacts.scss";
@import "blocks/form-comment.scss";
@import "blocks/form-extra.scss";
@import "blocks/footer.scss";
@import "blocks/social.scss";
@import "blocks/program-page.scss";
@import "blocks/slider.scss";
